In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import io
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [74]:
excel="bodyfat.csv"
dataframe=pd.read_csv(excel)

In [75]:
dataframe.head()

,BodyFat,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Density
0,12.3,23,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,1.0708
1,6.1,22,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,1.0853
2,25.3,22,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,1.0414
3,10.4,26,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,1.0751
4,28.7,24,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7,1.0340

In [76]:
dataframe.shape

(252, 15)

In [77]:
#Age has nothing todo with bodyfat
dataframe=dataframe.drop(["Age"],axis=1)

In [78]:
dataframe.head()

,BodyFat,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist,Density
0,12.3,154.25,67.75,36.2,93.1,85.2,94.5,59.0,37.3,21.9,32.0,27.4,17.1,1.0708
1,6.1,173.25,72.25,38.5,93.6,83.0,98.7,58.7,37.3,23.4,30.5,28.9,18.2,1.0853
2,25.3,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24.0,28.8,25.2,16.6,1.0414
3,10.4,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2,1.0751
4,28.7,184.25,71.25,34.4,97.3,100.0,101.9,63.2,42.2,24.0,32.2,27.7,17.7,1.0340

In [79]:
dataframe.shape

(252, 14)

In [ ]:
sns.pairplot(dataframe)

In [ ]:
dataframe.describe()

In [ ]:
dataframe.isnull().sum()
#No null values, no categorical values

In [ ]:
plt.figure(figsize=(10,10))
sns.heatmap(dataframe.head(30),cmap="BuPu")
plt.show()

In [ ]:

#splitting into dependent and independent variables

from sklearn.model_selection import train_test_split
#independent variables
x=dataframe.iloc[:,1:14].values
#dependent variable
y=dataframe.iloc[:,0].values

In [ ]:
#multivariant linear regression
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(x_train,y_train)
y_pred=lm.predict(x_test)
y_pred

In [ ]:
plt.plot(y_test,color="blue")
plt.plot(y_pred,color="red")

In [ ]:

from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [ ]:
#Performance metrics 
mean_squared_error(y_test,y_pred)

In [ ]:
mean_absolute_error(y_test,y_pred)

In [ ]:
r2_score(y_test,y_pred)

In [ ]:
lm.score(x,y)